# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.project
.fvm/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/**/generated/
**/android/captures/
**/android/gradle/
**/android/local.properties
**/android/key.properties
**/android/app/src/main/res/raw/google_services.json
**/android/app/google-services.json
*.jks
*.keystore

# iOS related
**/ios/DerivedData/
**/ios/Flutter/ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Runner/GoogleService-Info.plist

# macOS related
**/macos/Flutter/ephemeral/
**/macos/Flutter/Generated.xcconfig
**/macos/Flutter/flutter_export_environment.sh

# Linux related
**/linux/flutter/ephemeral/

# Windows related
**/windows/flutter/ephemeral/
**/windows/flutter/generated_config.cmake

# Web related
**/web/stack_trace_mapper.js

# Environment files
.env*
!.env.example
